<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Chat</title>
    <link rel="stylesheet" href="{% static 'css/mainPageStyle.css' %}">
    <style>
        .message-timestamp {
            font-size: 10px; /* Smaller font size */
            color: #888; /* Light gray color */
            text-align: right; /* Align to the right */
            margin-top: 5px; /* Optional: Add some space above the timestamp */
        }
        #green-btn {
            background-color: #28a745; /* Green background color */
            color: white; /* White text color */
            padding: 10px 20px; /* Padding around the button */
            border: none; /* Removing default border */
            border-radius: 5px; /* Rounded corners */
            font-size: 16px; /* Font size */
            cursor: pointer; /* Pointer cursor on hover */
            transition: background-color 0.3s ease; /* Smooth background color transition */
        }

        /* Hover effect for the button */
        #green-btn:hover {
            background-color: #218838; /* Darker green on hover */
        }

        .sidebar {
            width: 250px;
            background: #f8f9fa;
            padding: 10px;
            border-right: 1px solid #dee2e6;
        }
    
        .search-bar input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }
    
        .connected-users {
            margin-top: 10px;
        }
    
        .connected-users h3 {
            margin-bottom: 10px;
            font-size: 16px;
        }
    
        .connected-users ul {
            list-style-type: none;
            padding: 0;
        }
    
        .connected-users li {
            padding: 8px;
            border-bottom: 1px solid #dee2e6;
        }

    </style>

</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="connected-users">
                <h3>Connected Users</h3>
                <ul>
                    {% for user in connected_users %}
                        <li>{{ user.username }}</li>
                    {% empty %}
                        <li>No users connected</li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        
        <main class="chat-window">
            <header class="chat-header">
                <h2>Design Chat</h2>
                {% comment %} <div>
                    <span>Users Online: <span id="user-count">0</span></span>
                </div> {% endcomment %}
                
            </header>
            <div class="chat-messages">

                {% for i in messages %}
                            {% if i.sender.username != user %}
                                <div class="message received" data-message-id="{{ i.id }}">
                                    {% if i.parent_message %}
                                        <blockquote>{{ i.parent_message.message }} - {{ i.parent_message.sender }}</blockquote>
                                    {% endif %}

                                    <div class="message-content">
                                        <p><span class="receiver">{{ i.sender }}</span><br>{{ i.message }}</p>
                                        <div class="message-timestamp">{{i.timestamp}}</div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="message recei" data-message-id="{{ i.id }}">
                                    {% if i.parent_message %}
                                        <blockquote>{{ i.parent_message.message }} - {{ i.parent_message.sender }}</blockquote>
                                    {% endif %}
                                    <div class="message-content">
                                        <p><span class="sender">{{ i.sender }}</span><br>{{ i.message }}</p>
                                        <div class="message-timestamp">{{i.timestamp}}</div>
                                    </div>
                                </div>
                            {% endif %}
                {% endfor %}



            </div>
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                <div id="replying-to" style="display: none;">
                    <strong>Replying to:</strong>
                    <p id="reply-message"></p>
                </div>
            <div class="message-input">
                <input type="hidden" id="reply-to-id" name="reply_to_id">

                <i class="bi bi-search"></i><input id="msg" type="text" placeholder="Your message" autofocus>
                <button class="submit" type="submit">Send</button>
            </div>
        </form>    
        </main>
        

            {% comment %} <input type="hidden" id="reply-to-id" name="reply_to_id">
            <textarea id="msg" cols="30" name="message" rows="10" placeholder="Enter your message" required></textarea> {% endcomment %}
            
            <div class="chat-room">
                <h2>{{ room_name }}</h2>
            
                <aside class="profile-sidebar">
                    <div class="profile-card">
                        <div class="info">
                            <h2>Profile</h2>
                            {% if profile.profile_picture %}
                                <img src="{{ profile.profile_picture.url }}" alt="Avatar" class="profile-picture">
                            {% else %}
                                <img src="{% static 'img/default_avatar.png' %}" alt="Default Avatar" class="profile-picture">
                            {% endif %}
                            <div class="name">
                                <label>Name:</label>
                                <span style="margin-left:10px;">{{ profile.display_name }}</span><br>
                            </div>
                            <div class="location">
                                <label>Location:</label>
                                <span style="margin-left:10px;">{{ profile.location }}</span><br>
                            </div>
                            <div class="about">
                                <label>About:</label>
                                <span style="margin-left:10px;">{{ profile.bio }}</span><br>
                            </div>
                            {% comment %} <div class="status">
                                <label>Status:</label>
                                {% if profile.online_status %}
                                    <span style="margin-left:10px; color:green;">Online</span><br>
                                {% else %}
                                    <span style="margin-left:10px; color:red;">Last Seen: {{ profile.last_seen|date:"M d, Y H:i" }}</span><br>
                                {% endif %}
                            </div> {% endcomment %}
                        </div>
                        <div>
                            <button type="button" id="edit-profile-btn" onclick="toggleEditForm()">Edit Profile</button>
                            <button type="button" id="green-btn" onclick="logout()">Logout</button>
                        </div>
                    </div>
            
                    <!-- Edit Profile Form -->
                    <div id="edit-profile-form" style="display:none;">
                        <form method="post" enctype="multipart/form-data" action="{% url 'update_profile' %}">
                            {% csrf_token %}
                            <label for="display_name">Name:</label>
                            <input type="text" name="display_name" value="{{ profile.display_name }}" required><br>
            
                            <label for="location">Location:</label>
                            <input type="text" name="location" value="{{ profile.location }}" required><br>
            
                            <label for="bio">About:</label>
                            <textarea name="bio" required>{{ profile.bio }}</textarea><br>
            
                            <label for="profile_picture">Profile Picture:</label>
                            <input type="file" name="profile_picture"><br>
            
                            <button type="submit">Save Changes</button>
                        </form>
                    </div>
                </aside>
            
                {% comment %} <div class="messages">
                    {% for message in messages %}
                        <div class="message">
                            <strong>{{ message.user.username }}</strong>: {{ message.content }}
                            <span class="timestamp">{{ message.timestamp|date:"H:i" }}</span>
                        </div>
                    {% endfor %}
                </div> {% endcomment %}
            </div>
            
        
    </div>
</body>
<script>

    function toggleEditForm() {
        var form = document.getElementById('edit-profile-form');
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
    

    function scrollToBottom() {
        const chatContainer = document.querySelector('.chat-messages');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
    
    const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{ room_name }}/`;
    const socket = new WebSocket(wsEndpoint);



    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.user_count !== undefined) {
            // Update the UI with the current user count
            document.getElementById('user-count').innerText = data.user_count;
        } else if (data.message) {
            // Handle chat messages
        }
        

    };


document.getElementById('message-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const message = document.getElementById('msg').value;
    const sender = "{{ user }}";
    const replyToId = document.getElementById('reply-to-id').value;

    if (message === '') {
        return; // Exit the function without sending the message
    }

    socket.send(
        JSON.stringify({
            'message': message,
            'room_name': '{{ room_name }}',
            'sender': sender,
            'reply_to_id': replyToId
        })
    );
    scrollToBottom();

});

socket.addEventListener("message", (event) => {
    const messageData = JSON.parse(event.data)['message'];

    const sender = messageData['sender'];
    const message = messageData['message'];
    const timestamp = new Date(messageData['timestamp']).toLocaleTimeString();
    const replyMessage = messageData['parent_message'] ? messageData['parent_message'].message : null;
    const replySender = messageData['parent_message'] ? messageData['parent_message'].sender : null;

    if (sender === "{{ user }}") {
        document.getElementById('msg').value = '';
    }

    const chatMessages = document.querySelector('.chat-messages');
    const newMessageHtml = `
        <div class="message ${sender !== "{{ user }}" ? 'recei' : 'received'}" data-message-id="${messageData['id']}">
            ${replyMessage ? `<blockquote>${replyMessage} - ${replySender}</blockquote>` : ''}
            <div class="message-content">
                <p><span class="${sender !== "{{ user }}" ? 'receiver' : 'sender'}">${sender}</span><br>${message}</p>
                <div class="message-timestamp">${timestamp}</div>
            </div>
            
        </div>
    `;

    chatMessages.insertAdjacentHTML('beforeend', newMessageHtml);


    document.querySelectorAll('.message.recei, .message.received').forEach(function(element) {
        element.addEventListener('dblclick', function() {
            const messageId = this.getAttribute('data-message-id');
            const messageContent = this.querySelector('.message-content p').textContent;

            replyToIdInput.value = messageId;
            document.getElementById('reply-message').textContent = messageContent;
            replyingToDiv.style.display = 'block';
        });
    });
    scrollToBottom();

});

function logout() {
    // Redirect to the logout URL
    window.location.href = "{% url 'logout' %}";
}


function focusOnInput() {
    document.getElementById('msg').focus();
}

window.onload = function() {
    focusOnInput(); 
    scrollToBottom();  
};

socket.addEventListener("close", (event) => {
    console.error("Chat socket closed unexpectedly");
});

socket.addEventListener("error", (event) => {
    console.error("WebSocket error:", event);
});

</script>
</html>
